<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GREEN-API Loading Animation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='welcome.css')}}">
</head>
<body>
    <div id="container">
        <img id="logo" src="https://console.green-api.com/assets_1.2.11/chatbot-d53fb518.svg" alt="GREEN-API Logo">
        <div id="text">GREEN-API</div>
    </div>
    <script src="{{ url_for('static', filename='welcome.js')}}"></script>
</body>
</html>
